<h1>Toko PBP</h1>

<h5>App Name: </h5>
<p>{{ app name }}</p>
<h5>Name: </h5>
<p>{{ name }}</p>
<h5>Class: </h5>
<p>{{ class }}</p>

</body>
</html>
<table border="1" cellpadding="10">
    <tr>
        <th>Nama Item</th>
        <th>Jumlah</th>
        <th>Harga</th>
        <th>Deskripsi</th>
    </tr>
    <tr>
        <td><center>{{ item name }}</center></td>
        <td><center>{{ amount }}</center></td>
        <td><center>{{ price }}</center></td>
        <td><center>{{ description }}</center></td>
    </tr>
</table>

</body>
</html>